<?xml version="1.0" encoding="UTF-8"?>
<configuration  scan="true">
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <charset>UTF-8</charset>
    </appender>

    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/webapps/upchina-ddu/logs/%d{yyyy-MM-dd}.txt</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <charset>UTF-8</charset>
    </appender>

    <!-- project default level -->
    <logger name="org.springframework.aop.framework.CglibAopProxy" level="INFO"/>
    <logger name="com.upchina" level="DEBUG"/>
    <logger name="SELECT" level="DEBUG"/>
    <logger name="INSERT" level="DEBUG"/>
    <logger name="UPDATE" level="DEBUG"/>
    <logger name="DELETE" level="DEBUG"/>

    <!--log4jdbc -->
    <!-- <logger name="jdbc.sqltiming" level="DEBUG"/> -->

    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="rollingFile"/>
    </root>
</configuration>